[submodule "ubademy-back"]
	path = ubademy-back
	url = git@github.com:Luciana123/ubademy-back.git
[submodule "ubademy-front"]
	path = ubademy-front
	url = git@github.com:recheconea/ubademy-front.git
[submodule "ubademy-mobile"]
	path = ubademy-mobile
	url = git@github.com:recheconea/ubademy-mobile.git
[submodule "ubademy-back-py"]
	path = ubademy-back-py
	url = git@github.com:agscontini/ubademy-back-py.git
